<div id="<%= dom_id lessson %>">
  <p>
    <strong>Title:</strong>
    <%= lessson.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= lessson.content %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= lessson.course_id %>
  </p>

</div>
