<div class="card">
  <div class="card-header">
    <h5>
      <% if lesson.viewed?(current_user) %>
        <span class="text-success"><i class="fa-solid fa-square-check"></i></span>
      <% end %>
      <%= link_to lesson.title, course_lesson_path(lesson.course, lesson), class: "text-decoration-none text-dark" %>
    </h5>
  </div>
  <div class="card-body"><%=lesson.content %> </div>
</div>