<% @title = @lesson.course.title + "-" + @lesson.title%>

<%= render @lesson %>

<div>
  <%= link_to "Back to course", course_path(@lesson.course), class: "btn btn-primary btn-sm" %>
  <% if user_signed_in? && policy(@lesson).edit? %>
    <%= link_to "Edit this lesson", edit_course_lesson_path(@lesson.course, @lesson), class: "btn btn-warning btn-sm" %> 
    <p></p>
    <%= button_to "Destroy this lesson", course_lesson_path(@lesson.course, @lesson), method: :delete, class: "btn btn-danger btn-sm" %>
  <% end %>
</div>
