<%= render @lesson %>

<div>
  <%= link_to "Back to lessons", lessons_path, class: "btn btn-primary btn-sm" %>
  <% if user_signed_in? && policy(@lesson).edit? %>
    <%= link_to "Edit this lesson", edit_lesson_path(@lesson), class: "btn btn-warning btn-sm" %> 
    <p></p>
    <%= button_to "Destroy this lesson", @lesson, method: :delete, class: "btn btn-danger btn-sm" %>
  <% end %>
</div>
