<div class="card mt-4">
  <div class="card-header">
    <h1 class="text-center">Editing course</h1>
  </div>
  <%= render "form", course: @course %>
</div>

<br>

<div>
  <%= link_to "Back to courses", courses_path %>
</div>
