<%= link_to "Courses", courses_path, class: "text-decoration-none" %> >
<%= link_to @course.title, @course, class: "text-decoration-none" %>
<p></p>

<%= render @course %>

<p></p>

<!-- Button trigger modal -->
<% if user_signed_in? && policy(@course).edit? %>
  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Delete Course
  </button>
<% end %>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure want to delete this course?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%= button_to "Delete course", course_path(@course), method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>