@import "bootstrap";
@import 'actiontext.css';
@import "font-awesome";

.form-control.is-invalid {
  background-image: none;
}

.form-control.is-valid {
  background-image: none
}

.height-list {
  max-height: 100px;
}